/PatikaClone/nbproject/private/
/PatikaClone/build/
/PatikaClone/dist/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/PatikaCloneVersionNetbeans/nbproject/private/
/PatikaCloneVersionNetbeans/build/
/Patika_Clone/nbproject/private/
/Patika_Clone/build/
